Thank you for considering helping in the effort to get you science-based models.
<br><br />
How you can help:
<br><br />
1) Make an account at Coinbase (https://www.coinbase.com)
<br><br />
2) Buy BTC
<br><br />
If you are more concerned about privacy:
<br />
-3a) Make an account at TradeOgre (https://tradeogre.com/account/register)
<br>
-4a) Transmit a portion of the BTC to the BTC wallet at you TradeOgre account (definitely save some BTC in your CoinBase account)
<br>
-5a) Use the BTC in your TradeOgre account to buy Loki
<br><br />
If you are not concerned about privacy but are concerned about slippage:
<br>
-3b) Make an account at Kucoin (https://www.kucoin.com)
<br>
-4b) Transmit a portion of the BTC to the BTC wallet at you Kucoin account (definitely save some BTC in your CoinBase account)
<br>
-5b) Use the BTC in your Kucoin account to buy Loki
<br><br />
6) Transmit the portion of Loki you want to donate to LBha2SxkTEjVwz7eYWD2tB9n4tsGvQW97Bw5m4c1UZiQXKezpi8A1PLV9PWVuDs95nKKvcB6P9HY12SN98V3UhLWP6iTRXU
<br><br />
7) Download a Loki wallet (https://loki.network)
<br><br />
8) Transmit the rest of your Loki to your Loki wallet
<br><br>
<a href='/'>Back</a>

<%- include("partials/bottom") -%>
