<a href='/help'>Sponsor</a>
<br />
<br>
We used Chinese hackers and Russian bots to hack into the computers of Al Gore, British epidemiologists, and Tyra Banks to use the best in modeling technology to simulate various things and stuff:
<br />
<br>
<a href='/election'>Stupid 2020 Election (as seen in the Washington Post)</a>
<%- include("partials/bottom") -%>
